<%= simple_form_for @lead, class: 'form-lead col-xs-12 col-md-12' do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@lead.errors.count, "error")} prohibited this lead from being saved:" %>
      </h2>
      <ul>
        <% @lead.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group_name col-xs-12">
    <%= f.input :name, label: 'Nome:' %>
  </div>
  <div class="form-group_surname col-xs-12">
    <%= f.input :surname, label: 'Sobrenome:' %>
  </div>
  <br />
  <div class="form-group_email col-xs-12">
    <%= f.input :email, label: 'Email:' %>
  </div>
  <br />
  <div class="form-group_occupation col-xs-12">
    <%= label_tag "Qual a sua ocupação?" %>
  <br />
    <%= f.select(:occupation, Lead.options_for_select) %>
  </div>
  <br />
  <div class="form-group_btn">
    <%= f.button :submit, 'Cadastrar' %>
  </div>
<% end %>
