<section class="container-fluid">
  <div id="hero" class="row">
    <div class="infos-hero col-md-6">
      <h1>Titulo h1 onde as coisas <br/><spam class="destak-text">principais acontecem</spam></h1>
    </div>
    <div class="form-hero col-md-6">
      <%= render "leads/form" %>
    </div>
  </div>
</section>
<section class="container-fluid">
  <div id="basic-infos" class="row">
    <div id="box-basic-infos" class="col-sm-6">
      <article class="row">
        <h1>Titulo h1 onde as coisas <br/><spam class="destak-text">principais acontecem</spam></h1>
        <p>Gostaria de enfatizar que o aumento do diálogo entre os diferentes setores produtivos nos obriga à análise dos métodos utilizados na avaliação de resultados.</p>
      </article>
      <div class="row">
        <article id="minibox1-basic-infos" class="col-sm-6">
          <%= image_tag("placeholder-circle.png") %>
          <h3>Titulo h3 onde as coisas principais acontecem</h3>
          <p>Gostaria de enfatizar que o aumento do diálogo entre os diferentes setores produtivos nos obriga à análise dos métodos utilizados na avaliação de resultados.</p>
        </article>
        <article id="minibox2-basic-infos" class="col-sm-6">
          <%= image_tag("placeholder-circle.png") %>
          <h3>Titulo h3 onde as coisas principais acontecem</h3>
          <p>Gostaria de enfatizar que o aumento do diálogo entre os diferentes setores produtivos nos obriga à análise dos métodos utilizados na avaliação de resultados.</p>
        </article>
      </div>
    </div>
    <div id="box-img-basic-info" class="col-sm-6">
      <%= image_tag("placeholder.png") %>
    </div>
  </div>
</section>
<div id="slider" class="container-fluid">
  <section id="carrossel" class="row">
    <article><h2>TesteBlaBlaBla</h2><p>No mundo atual, a complexidade dos estudos efetuados estimula a padronização dos conhecimentos estratégicos para atingir a excelência.</p></article>
    <article><h2>TesteBlaBla</h2><p>Não obstante, o fenômeno da Internet estimula a padronização das diretrizes de desenvolvimento para o futuro.</p></article>
    <article><h2>BlaBlaTeste</h2><p>O cuidado em identificar pontos críticos no fenômeno da Internet possibilita uma melhor visão global dos índices pretendidos.</p></article>
  </section>
  <div class="slider-controls">
    <%= image_tag("left-arrow.png", class: "left-arrow") %>
    <%= image_tag("right-arrow.png", class: "right-arrow") %>
  </div>
</div>
