<section class="container-fluid">
  <div id="hero" class="row">
    <div class="infos-hero col-md-6">
      <h1>Descubra como criar uma Start Up, aumentar suas<br/><spam class="destak-text">vendas e alavancar sua empresa!</spam></h1>
      <div class="row">
          <div class="explications-hero col-md-12">
            <p>Confira as melhoras dicas de empreendedorismo. Inscreva-se agora e receba um eBook gratuito com dicas valiosas de como gerar mais sucesso e acelerar seu negócio!</p>
          </div>
      </div>
    </div>
    <div class="form-hero col-md-6">
      <%= render "leads/form" %>
    </div>
  </div>
</section>
<section class="container-fluid">
  <div id="basic-infos" class="row">
    <div id="box-basic-infos" class="col-sm-6 col-md-6">
      <article class="row">
        <h1>Confira as principais matérias e<br/><spam class="destak-text">alavanque os resultados da sua empresa</spam></h1>
        <p>Aprenda sobre gerenciamento de negócios e muitas dicas para sua empresa.</p>
      </article>
      <div class="row">
        <article id="minibox1-basic-infos" class="col-xs-6">
          <%= image_tag("steve_jobs.png") %>
          <h3>Steve Jobs</h3>
          <p>"Seu tempo é limitado, então não perca tempo vivendo a vida de outra pessoa" </p>
        </article>
        <article id="minibox2-basic-infos" class="col-xs-6">
          <%= image_tag("robert_louis.png") %>
          <h3>Robert L. Stevenson</h3>
          <p>"Mantenha seus medos consigo mesmo, mas compartilhe sua coragem com todo mundo"</p>
        </article>
        <!-- <ul>
          <li><h3><a href="#">Como atrair clientes em um momento de crise</a></h3></li>
          <li><h3><a href="#">5 filmes que todo empreendedor deveria assistir</a></h3></li>
          <li><h3><a href="#">Cases de empreendedorismo: Simplificaa</a></h3></li>
        </ul> -->
      </div>
    </div>
    <div id="box-img-basic-info" class="col-sm-6 col-md-6" >
      <%= image_tag("banner.png") %>
    </div>
  </div>
</section>
<section id="slider" class="container-fluid">
  <div id="carrossel" class="row">
    <article><%= image_tag("depo4.png", class: 'img-rounded') %><h2>Bruno Maron</h2><p>"Os conteúdos daqui são sensacionais! Compartilho com todos os meus amigos!"</p></article>
    <article><%= image_tag("depo5.png", class: 'img-rounded') %><h2>Felipe Bogoricin</h2><p>"Fico feliz que tenha blog como esses para me dar dicas de como melhorar o meu negócio. Parabéns pelo trabalho!!!"</p></article>
    <article><%= image_tag("depo6.png", class: 'img-rounded') %><h2>Paula Aizen</h2><p>"Eu aprendi muito com as matérias produzidas pelo blog. Foi fundamental para ajudar na construção da minha empresa!"</p></article>
  </div>
  <div class="slider-controls">
    <%= image_tag("left-arrow.png", class: "left-arrow") %>
    <%= image_tag("right-arrow.png", class: "right-arrow") %>
  </div>
</section>
<section id="highlight-posts" class="container-fluid">
  <div class="row">
    <% if @randposts %>
      <% @randposts.each_with_index do |post, i| %>
        <% img_post = highlight_img(post) %>
        <% html_id = "highlight#{i+1}" %>
          <div id="<%= html_id %>" class="col-md-6 col-xs-12">
            <%= raw img_post %>
            <h1 class="text-center"><%= post.title %></h1><br/>
            <%= link_to 'Ver post', post_path(post), class: 'btn btn-default' %>
          </div>
      <% end %>
    <% end %>
  </div>
</section>
