<!DOCTYPE html>
<html>
  <head>
    <title>Empreendedorismo Ideias - Aprenda a Alavancar Sua Empresa</title>
    <meta name="description" content="Empreendedorismo Ideias ajuda empresários, lojistas e profissionais liberais a crescer. Saiba como melhorar sua empresa ou criar sua Start up. Confira!">
    <meta name="googlebot" content="index, follow" />
    <meta name = "robots" content = "index, follow" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <!-- Render navigation bar -->
    <%= render "layouts/navigation" %>
    <p class="notice"><%= notice %></p>
     <%= flash_message.html_safe %>
      <%= yield %>
  </body>
  <%= render "layouts/footer" %>
</html>
